body {
    background-color: $background;

    color: $white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: calc(640px + 16px * 2);
    height: 80vh;
    margin: 0 auto;
    padding: 0 16px;

    overflow: hidden;
    transition: max-width .3s ease;
}

.header {
    display: flex;
    justify-content: center;

    @include media-minitablet {
        height: 28px;
    }

    margin: 46px 0 0 0;
}

.section-feature {
    background-color: $section;
    padding: 48px 58px;
    border-radius: 32px;
}

.content-wrapper {
    position: relative;

    display: flex;
    align-items: center;
}