// colors
$background: #111111;
$section: #161616;

$primary: #0057FF;
$danger: #FF6C6C;

$white: #FFFFFF;
$gray: #8A8A8A;


// adaptive
$tablet: 800px;
$point: 650px;
$mini-tablet: 500px;
$mobile: 400px;
